@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie", "NewMovie", "Movies", new {@class=
    "btn btn-primary btn-lg"
})

<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movies</th>
        <th>Genres</th>
        <th>Delete</th>
    </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/Movie",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name" ,
                        render:function(data, type, movie) {
                            return "<a href='/Movies/Edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data:"genre.name"
                    },
                    {
                        data: "id",
                        render:function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#movies").on("click", ".js-delete",function() {
                    var button = $(this);
                bootbox.confirm("Are you sure to delete this movie?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Movie/" + button.attr("data-movie-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
        });
       
    </script>
}


